{% extends 'base.html.twig' %}

{% block title %}About | Wave Store{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">

            <div style="position:relative; height: 43.75em;">

                <div style="position:absolute; z-index:1;">
                    <h1 class="big-title text-center text-uppercase">about</h1>
                </div>

                <div style="position:absolute;z-index:2;" class="d-flex justify-content-center">
                    <center><b><h2 class="inside-title text-center">Everything you want to know about us.</h2></b></center>
                </div> 

            </div>
            
        </div>    
    </div>

    <div class="row my-5">
        <div class="mx-auto text-center">
            <h5 class="text-uppercase">our mission</h5>
            <hr class="my-4 d-inline-block mx-auto" style="width: 60px;">
            <p class="display-4 title-playfair mb-5">Notre mission ? Vous proposez une solution altérnative afin de respectez la nature et l’environnement au maximum.</p>
	    </div>
    </div>

    
        <div class="row no-gutters bg-light mt-5">
            <div class="mx-auto my-auto">
                <div class="col-6">
                    <h6 class="text-uppercase">respect</h6>
                    <hr class="d-inline-block mx-auto" style="width: 60px;">   
                    <p style="width: 37em;">Notre fournisseur fait partie de la fondation « fair wear ». Cette fondation garantit de bonnes conditions de travail lors de la confection des textiles. Ce qui nous assure un respect des horaires de travail, aucune exploitation d’enfants et des infrastructures respectant les normes de sécurité.</p>
                </div>
            </div>                  
            <div class="col-6">
                <img src="/images/about/img-respect.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="row no-gutters bg-light">
            <div class="col-6">
                <img src="/images/about/img-geste.png" class="img-fluid" alt="Responsive image">
            </div>
                            
            <div class="mx-auto my-auto">
                <div class="col-6">
                    <h6 class="text-uppercase">un geste pour l'océan</h6>
                    <hr class="d-inline-block mx-auto" style="width: 60px;">    
                    <p style="width: 37em;">Wave s’est associé à Ocean Clean Up afin de supporter le nettoyage de nos océans. Une part des bénéfices est reversée à l’association afin de pouvoir profiter d’océans tous les jours plus propres.</p>
                </div>
            </div>
        </div>

        <div class="row no-gutters bg-light">
            <div class="mx-auto my-auto">
                <div class="col-6">
                    <h6 class="text-uppercase">vision durable</h6>
                    <hr class="d-inline-block mx-auto" style="width: 60px;"> 
                    <p style="width: 37em;">Chaque jour des milliers de tonnes de déchets sont déversées dans la nature. Il est important de nettoyer le plus possible les déchets déjà présents afin de limiter les dégâts mais il est aussi très important de ne pas empirer la situation. Wave s’engage à créer des vêtements durables en portant une attention toute particulière aux tissus utilisés et à la qualité de la fabrication. En achetant un produit Wave vous vous procurez un bien qui a été créé et pensé pour durer dans le temps.</p>
                </div>
            </div>                  
            <div class="col-6">
                <img src="/images/about/img-vision.png" class="img-fluid" alt="Responsive image">
            </div>
        </div>

        <div class="row no-gutters bg-light">
            <div class="col-6">
                <img src="/images/about/img-package.png" class="img-fluid" alt="Responsive image">
            </div>
                            
            <div class="mx-auto my-auto">
                <div class="col-6">
                    <h6 class="text-uppercase">packaging</h6>
                    <hr class="d-inline-block mx-auto" style="width: 60px;">   
                    <p style="width: 37em;">La packaging a été pensé afin de limiter au strict minimum la production de déchets tout en vous assurant une bonne réception des produits.</p>
                </div>
            </div>
        </div>

{% endblock %}
