{% extends 'base.html.twig' %}

{% block title %}Votre panier | Wave Store{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Panier</h1>
    <div class="row my-5">
        <div class="col-8">
            <div class="row">
                {% if cart.items | length >0 %}
                    {% for item in cart.items %}
                    <ul class="list-group list-group-flush">
                        {% include 'cart/_card.html.twig' with {item: item} only %}
                    </ul>
                    {% endfor %}
                {% else %}
                    <p>Votre panier est vide</p>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row mb-4">
                        <h5>Récapitulatif</h5>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <p>Nombres d'articles</p>
                        <p>0</p>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <p>Sous-total</p>
                        <p>0,00 &euro;</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row d-flex justify-content-between">
                        <p>Total</p>
                        <p>0,00 &euro;</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row d-flex justify-content-between">
                        <button type="button" class="btn btn-dark">Paiment</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>





{% endblock %}
