{% extends 'base.html.twig' %}

{% block title %}Votre panier | Wave Store{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Panier</h1>
    <div class="row my-5">
        <div class="col-8">
            <div class="row">
                {% if cart.items | length >0 %}
                    {% for item in cart.items %}
                    <ul class="list-group list-group-flush">
                        {% include 'cart/_card.html.twig' with {item: item} only %}
                    </ul>
                    {% endfor %}
                {% else %}
                    <p>Votre panier est vide</p>
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <div class="row mb-4">
                        <h5>Récapitulatif</h5>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <p>Nombres d'articles</p>
                        <p>0</p>
                    </div>
                    <div class="row d-flex justify-content-between">
                        <p>Sous-total</p>
                        <p>0,00 &euro;</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row d-flex justify-content-between">
                        <p>Total</p>
                        <p>0,00 &euro;</p>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row d-flex justify-content-between">
                        <button id="checkout-button" class="btn btn-dark">Procéder au paiment</button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
      // Create an instance of the Stripe object with your publishable API key
      var stripe = Stripe('pk_test_51HTo0jLagNSJl2L8XkyuQ4GOvM0FvHrdqFB52ruE2Qeyn18igRF3zsrO8f37uqKiZMbWaoswOx1OJxEXENxYZJdM00eHVneoAy');
      var checkoutButton = document.getElementById('checkout-button');

      checkoutButton.addEventListener('click', function() {
        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch('/create-checkout-session', {
          method: 'POST',
        })
        .then(function(response) {
          return response.json();
        })
        .then(function(session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function(result) {
          // If `redirectToCheckout` fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using `error.message`.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function(error) {
          console.error('Error:', error);
        });
      });
</script>
{% endblock %}
