{% extends 'base.html.twig' %}

{% block title %}Home | Wave Store{% endblock %}

{% block body %}

    <div class="row mb-5">
        <div class="mx-auto">
		    <img src="/images/homepage/bg-home.png" class="img-fluid" alt="Responsive image" style="">
            <div class="carousel-caption align-items-center">
                <p class="display-4 floating"><i class="fas fa-arrow-down"></i></p>
	        </div>
        </div>
    </div>

    <div class="row my-5">
        <div class="col-8 mx-auto my-5 text-center">
            <h5>Bienvenue sur Wave Store</h5>
            <hr class="my-4 d-inline-block mx-auto" style="width: 60px;">
            <p class="display-4 title-playfair mx-auto">Notre projet est de vous habillez de facon eco-responsable inspiré par l’océan, les vagues et le vent.</p>
        </div>
    </div>

    <div class="row no-gutters mt-5" style="background-color: #FAFAFA;">
        <div class="mx-auto my-auto">
            <div class="col-6">
                <h6 class="text-uppercase">eco-responsable</h6>
                <hr class="d-inline-block mx-auto" style="width: 60px;">   
                <p style="width: 37em;">Nos t-shirts sont fabriqués en 100% Coton Organique. Lors de la création du coton ils n’utilisent pas de pesticides, d’insecticides, d’herbicides ni de cultures génétiquement modifiées. La production de coton biologique utilise beaucoup moins d’énergie et d’eau que le coton conventionnel. Malheureusement, aujourd’hui, le coton biologique ne représente que 1% de la production mondiale de coton.</p>
            </div>
        </div>                  
        <div class="col-6">
            <img src="/images/homepage/homecotton.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-5 mb-2">
            <h4 class="ml-3">Nos derniers articles</h4>
        </div>
        <div class="row d-flex justify-content-center">
            {% for product in products %}
                <div class="col-3 mb-5">
                    <div class="card border-0">
                        <img src="{{ asset('images/products/' ~ product.images[0]) }}" alt="" class="card-img-top rounded-0">
                        <div class="card-img-overlay">
                            <div class="card-title d-flex justify-content-between">
                                <a href="{{ path('product_show', {'id': product.id}) }}" class="text-secondary mr-3"><i class="fas fa-eye"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <!--image link vers store-->
    <div class="row no-gutters">
        <div class="col">
            <div class="card text-white rounded-0">
            <img class="card-img rounded-0" src="/images/homepage/thumb-man.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title title-playfair">Le Store pour les hommes</h5>
                    <button class="btn btn-outline-light rounded-0">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white rounded-0">
            <img class="card-img rounded-0" src="/images/homepage/thumb-access.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title title-playfair">Le Store pour les accessoires</h5>
                    <button class="btn btn-outline-light rounded-0">Shop Now</button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white rounded-0">
            <img class="card-img rounded-0" src="/images/homepage/thumb-girl.png" alt="Card image">
                <div class="card-img-overlay">
                    <h5 class="card-title title-playfair">Le Store pour les femmes</h5>
                    <button class="btn btn-outline-light rounded-0">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    

{% endblock %}
