<div class="col-3 mb-4">
    <div class="card rounded-0 text-white">
        <img src="/images/default/img-default.png" class="card-img rounded-0" alt="...">
        <div class="card-img-overlay d-flex justify-content-between">
            <h5 class="card-title">{{ item.product.name }}</h5>
            <a href="#" class="card-link text-danger"><i class="far fa-trash-alt"></i></a>
        </div>
    </div>
</div>