{% extends 'base.html.twig' %}

{% block title %}Whishlist | Wave Store{% endblock %}

{% block body %}

<div class="row">
<h1 class="my-5 ml-5">Favoris</h1>
</div>

<div class="container">
    <div class="row my-5">
        {% if whishlist.items | length > 0 %}
            {% for item in whishlist.items %}
                {% include 'whishlist/_card.html.twig' with {item: item} only %}
            {% endfor %} 
        {% else %}
            <p>Votre panier est vide</p>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}
