
    <div class="col-3">
        <h5 class="mb-4">Filtres</h5>
    </div>
    <div class="col-2 ml-3">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trier par</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    </div>
    <div class="col-3 ml-4">
    <div class="dropdown">
        <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nombre de produits</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
    </div>
        <div class="col-3 ml-5">
            <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                <input type="text" id="search12" class="form-control mb-0" placeholder="Search...">
                <a href="#!" class="btn btn-flat btn-md px-3 waves-effect"><i class="fas fa-search"></i></a>
            </div>
        </div>
    </div>

