body{
    font-family: 'Montserrat', sans-serif;
}

.big-title{
    font-size: 18em;
    font-weight: bold;
    color: #F9F9F9;
    position:relative;
    text-transform: uppercase;
}

.inside-title{
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
    line-height: 1.25em;
    width: 15em;
    position:absolute;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-playfair{
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
    line-height: 1.25em;
    width: 20em;
}

.text-playfair{
    font-family: 'Playfair Display', serif;
}

.article{
    background-color: blueviolet;
}

.small-text-topbar {
    font-size: 0.875em;
    text-align: center;
    color: #EAEAEA;
}

.floating {  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}

@keyframes floating {
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}
