body{
    font-family: 'Montserrat', sans-serif;
}

.big-title{
    font-size: 18em;
    font-weight: bold;
    color: #F0F0F0;
    position:relative;
    text-transform: uppercase;
}

.inside-title{
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
    line-height: 1.25em;
    width: 15em;
    position:absolute;
    z-index:1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title-playfair{
    font-family: 'Playfair Display', serif;
    font-size: 2.25em;
    line-height: 1.25em;
    width: 20em;
}

.text-playfair{
    font-family: 'Playfair Display', serif;
}

.article{
    background-color: blueviolet;
}

