{{ form_start(form) }}

    <h5 class="mb-3">Categories</h5>
    {{ form_row(form.categories) }}

    <h5 class="my-3">Tailles</h5>
    {{ form_row(form.sizes) }}

    <button type="submit" class="btn btn-outline-dark w-100 my-5">Filtrer</button>

{{ form_end(form) }}