{% extends 'base.html.twig' %}

{% block title %}Contact | Wave Store{% endblock %}

{% block body %}

    <div class="row">
        <div class="col">

            <div style="position:relative; height: 43.75em;">

                <div style="position:absolute; z-index:1;">
                    <h1 class="big-title text-center text-uppercase">say hello</h1>
                </div>

                <div style="position:absolute;z-index:2;" class="d-flex justify-content-center">
                    <center><b><h2 class="inside-title text-center">We would love to hear you.</h2></b></center>
                </div> 

            </div>
            
        </div>    
    </div>

    <div class="row my-5">
        <div class="mx-auto text-center">
            <h5 class="text-uppercase">contact us</h5>
            <hr class="my-4 d-inline-block mx-auto" style="width: 60px;">
            <p class="display-4 title-playfair">Notre service client est à votre complète disposition pour quelconque question.</p>
	    </div>
    </div>

    <div class="row no-gutters bg-light">
        <div class="mx-auto my-auto">
            <div class="col-6">
                <h6 class="text-uppercase">respect</h6>
                <hr class="d-inline-block mx-auto" style="width: 60px;">   
                <p style="width: 37em;">Notre fournisseur fait partie de la fondation « fair wear ». Cette fondation garantit de bonnes conditions de travail lors de la confection des textiles. Ce qui nous assure un respect des horaires de travail, aucune exploitation d’enfants et des infrastructures respectant les normes de sécurité.</p>
            </div>
        </div>                  
        <div class="col-6">
            <img src="/images/contact/map.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>

    <div class="row my-5">
        <div class="mx-auto text-center">
            <h5 class="text-uppercase">we are here to help you</h5>
            <hr class="my-4 d-inline-block mx-auto" style="width: 60px;">
            <p class="display-4 title-playfair">Besoin d’aide ? Rempli le formulaire ci-dessous et notre staff ce fera un plaisir de te répondre.</p>
	    </div>
    </div>

{% endblock %}
